.header{
	background-color:orchid;
	min-height:100px;
}
.wrapped {
	border: 6px solid crimson;
	overflow: hidden;
}
.blog{
	background-color:purple;
	min-height:100px;
	width:60%; 
	float: left;
}
.contact{
	background-color:deeppink;
	min-height:100px;
	width: 40%;
	float: right;
}
.footer{
	background-color:blueViolet;
	min-height:100px;
}